.pContainer h2{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 20px;
  	margin-bottom: 30px;
	font-size:x-large;
	text-align: center;
	color: white;
	font-family: pixelz;
  }
  
  .planetInfo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 1.5rem;
  }

  .planetInfo h4 {
	font-family: prof;
	margin:15px;
	text-align: center;
	min-width: 420px;
	text-shadow: 0px 0px 20px #ffffffaf;
  }
  
  .row {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 100px;
	border: 0px solid white;
	text-shadow: 0px 0px 20px #ffffffaf;
  }
  
  .factContainer {
	text-align:left;
	font-size: 14px;
	font-family: prof;
	color: rgb(0, 0, 0);
	padding: 20px 4px;
	background-color: rgba(0, 0, 0, 0.151);
	backdrop-filter: blur(2px);
	
	margin-top: 20px;
	width:720px;
	box-shadow: rgba(255, 255, 255, 0.07) 0px 4px 9px, rgba(255, 255, 255, 0.07) 0px 2px 2px;
	border-radius: 20px;
  }
  .factContainer p{
	color: white;
	width: 95%;
	padding-left: 10px;
  }
  @media screen and (max-width: 750px) {
	.factContainer{
	   width: 90%;
	}
}

  hr.measurement {
	border-color: black;
	border-top: 1px dashed red;
	/* border-left-: 10px red; */
	width: 12rem;
	margin: 0 auto;
	margin-top: 2rem ;
  }

  .pContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex:1;
	justify-content: space-between;
	height:100%;
  }
  